body {
    width: 100%;
    height: 100%;
    background-image: url(./imagenes/fondo-textura-hoja-papel-arrugado-blanco_1017-31714.jpg);
    background-size:100% ;
    margin: 0%;
    padding: 0%;
}

#menu  {
    background-color: black;
    
}
#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}
.cs-menu{
    color: white;
    float: left;
    display: block;
    padding: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
}


#menu ul li {
    display: inline-block;
}

#menu ul li a {
    color: white;
    display: block;
    padding: 15px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#menu ul li a:hover{
    background-color: #42B881;
}

.titulo{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Subtitulo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    text-align: center;
}

.inf-r{
    font-family: sans-serif;
    text-align: center;
    font-size: 17px;
}

.comu-l{
    text-decoration: none;
    text-decoration: solid;
    font-family: sans-serif;
    font-size: 20px;
    color: blue;
    text-decoration-line:underline;
    text-align: center;
    
}

.cshudfoto{
    display: block;
    margin: auto;
    width: 550px;
}

.ngfoto{
    display: block;
    width: 600px;
    margin: auto;   
}

.bkfoto {
    display: block;
    margin: auto;
    width: 400px;
}

.serversip{
    text-align: center;
    text-decoration: solid;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 15px;
}

.futer{
    display: block;
    background-color: black;
    color: white;
    padding: 12px;
    font-family: sans-serif;
    text-align: center;
}

.titulo{
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

